{% extends "mh_tracker/base_template.html" %} {% block content %}
<canvas id="progressionChart"></canvas>
<!-- Store URL in a hidden div element -->
<div
  id="progressionUrl"
  data-url="{% url 'user_progression' %}"
  style="display: none"
></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
     // Access URL from data attribute
      const progressionUrl = document.getElementById('progressionUrl').getAttribute('data-url');
    //Fetch data from the server
      fetch(progressionUrl)
          .then(response => response.json())
          .then(data => {
            // Log data
            console.log(data);
              const ctx = document.getElementById('progressionChart').getContext('2d');
             //Create a new chart instance to draw progression chart
              const progressionChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                      labels: data.dates,
                      datasets: [
                          {
                              label: 'Mood Level',
                              data: data.moods,
                              borderColor: 'rgba(255, 99, 132, 1)',
                              fill: false,

                          },
                          {
                              label: 'Sleep Quality',
                              data: data.sleep,
                              borderColor: 'rgba(54, 162, 235, 1)',
                              fill: false,
                          },
                          {
                              label: 'Exercise Time',
                              data: data.excercise,
                              borderColor: 'rgba(255, 206, 86, 1)',
                              fill: false,
                          },
                          {
                              label: 'Diet Quality',
                              data: data.diet,
                              borderColor: 'rgba(75, 192, 192, 1)',
                              fill: false,
                          },
                          {  
                              label: 'Water Intake',
                              data: data.water,
                              borderColor: 'rgba(153, 102, 255, 1)',
                              fill: false,
                          },
                      ]
                  },
                  options: {
                      scales: {
                          y: {
                              beginAtZero: true,

                          }
                      }
                  }
              });
          })
          .catch(error => {
              console.error('Error fetching progression data:', error);
          });
  });
</script>

{% endblock %}
