{% extends "mh_tracker/base_template.html" %} {% block content %}

<div class = "page-description">
  <h2> Analytics Dashboard</h2>
    <p> This dashboard provides insights into your daily activities, helping you track your essentials! Toggle the data series on the chart to focus on specific metrics.</p>
</div>
<canvas id="progressionChart"></canvas>
<!-- Store URL in a hidden div element -->
<div
  id="progressionUrl"
  data-url="{% url 'user_progression' %}"
  style="display: none"
></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
     // Access URL from data attribute
      const progressionUrl = document.getElementById('progressionUrl').getAttribute('data-url');
    //Fetch data from the server
      fetch(progressionUrl)
          .then(response => response.json())
          .then(data => {
            // Log data
            console.log(data);
              const ctx = document.getElementById('progressionChart').getContext('2d');

            //Convert excercise minutes to hours
            const excerciseHours = data.excercise.map(minutes => (minutes / 60).toFixed(2)); //toFixed(2) will limit the number of decimals to 2 
            
             //Create a new chart instance to draw progression chart
              const progressionChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                      labels: data.dates,
                      datasets: [
                          {
                              label: 'Mood Level(1-5)',
                              data: data.moods,
                              borderColor: 'rgba(255, 99, 132, 1)',
                              fill: false,

                          },
                          {
                              label: 'Sleep Quality(1-5)',
                              data: data.sleep,
                              borderColor: 'rgba(54, 162, 235, 1)',
                              fill: false,
                          },
                          {
                              label: 'Exercise Time(Hours)',
                              data: excerciseHours,
                              borderColor: 'rgba(255, 206, 86, 1)',
                              fill: false,
                          },
                          {
                              label: 'Diet Quality(1-5)',
                              data: data.diet,
                              borderColor: 'rgba(75, 192, 192, 1)',
                              fill: false,
                          },
                          {  
                              label: 'Water Intake(Ounces)',
                              data: data.water,
                              borderColor: 'rgba(153, 102, 255, 1)',
                              fill: false,
                          },
                      ]
                  },
                  options: {
                    legend: {
                      
                      display: true,
                      //event handler
                      onclick: function(e, legendItem){
                        var index = legendItem.datasetIndex;
                        var ci = this.chart;
                        var meta = ci.getDatasetMeta(index);

                        //Hide the legend or reset 
                        meta.hidden = meta.hidden === null ? !ci.data.datasets[index].hidden : null;

                        //rerender chart 
                        ci.update();
                        
                      }
                    },
                      scales: {
                          y: {
                              beginAtZero: true,
                              title: {
                                display: true, 
                                text: 'Ratings', //Y-axis label 
                                font: {
                                  size: 16,
                                  style: 'bold'
                                } 
                              }
                          },
                        x: {
                          title: {
                            display: true, 
                            text: 'Dates', //x-axis label
                            font: {
                              size: 16,
                              style: 'bold'
                            }
                          }
                        }
                      }
                  }
              });
          })
          .catch(error => {
              console.error('Error fetching progression data:', error);
          });
  });
</script>

{% endblock %}
