<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  </head>


  <body>
  <script>
      function dark() {
          var element = document.body;
          element.classList.toggle("dark-mode")
      }
  </script>
    <header>
      <h1 align=center>Spectrum Diary</h1>
    </header>

    <div class="col-md-9">
      <div class="container">
        {% block content %}
        <div class="container-fluid">

                <meta name ="viewport" content ="width=30vmax, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
                <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src ="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
                </head>
                  <!-- Main content -->
                      <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                        <!-- App Description -->
                          <div class = "app-description">
                            <h2>Welcome to Spectum Diary</h2>
                            <p>MHA is designed to help you track your mood, thoughts, and emotions. We encourage you to reflect on your day. Here, you can journal your thoughts, monitor your mood and gain insights into your well-being over time. Get started by logging your first entry today!</p>
                        </div>
                        <!-- Your content here -->
                        <div class="row 1">
                          <div class="col-sm-6">
                            <div id="card_bg" class="card text-center">
                              <a class="card-body stretched-link text-decoration-none" href="{% url 'journal_entry' %}">
                                <h5 class="card-title text-warning">Todays Journal</h5>
                                <p class="card-text text-warning">Tell Us How You're Feeling Today.</p>
                              </a>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div id="card_bg" class="card text-center">
                              <a class="card-body stretched-link text-decoration-none" href="{% url 'color_calendar' %}">
                                <h5 class="card-title-center text-warning">Calendar</h5>
                                <p class="card-text text-warning">View Past Journal Entries And Monthly Overview.</p>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="row 2 mt-4">
                          <div class="col-sm-6">
                            <div id="card_bg" class="card text-center">
                              <a class="card-body stretched-link text-decoration-none" href="{% url 'analytics' %}">
                                <h5 class="card-title-center text-warning">Analytics</h5>
                                <p class="card-text text-warning">View, Share, and Export Reports and Graphs Overtime.</p>
                              </a>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div id="card_bg" class="card text-center">
                              <a class="card-body stretched-link text-decoration-none" href="{% url 'login' %}">
                                <h5 class="card-title text-warning"">Login</h5>
                                <p class="card-text text-warning">To View Your Personal Data Login or Signup.</p>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="container pt-4">
                      </main>
                    </div>
                  </div>
{% endblock %}

</body>
  <style>
    #card_bg{
      background-color: indigo;
      opacity: 0.5;
    }
    <!-- From https://www.w3schools.com/ -->
    .card{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
      transition: 0.3s;
      width: 60%;
    }
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    }
    .nav_br{
      width:300vmax;
    }
    .nav-column { 
      color: white; 
    }
    .nav-link {
      background-color: white;     
      border: none; 
      padding: 20px 20px; 
      margin-bottom: 5px; 
      margin-top: 5px; 
      display: block; 
      text-align: left; 
      text-decoration: none; 
      border-radius: 5px;
    }
    .nav-link:hover {
      background-color: #eee; 
    }
  </style>
</html>