<!--Description: Journal Entry Page
    Oz Note: I believe we need models to create a typical forms page; forms.py that 
incorporates models. -->

{% extends "mh_tracker/base_template.html" %} {% block content %}

<style>
  fieldset {
    overflow: hidden;
  }

  .some-class {
    float: left;
    clear: none;
  }

  label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
  }

  input[type="radio"],
  input.radio {
    float: left;
    clear: none;
    margin: 6px 0 0 2px;
  }
</style>

<div class="container">
  <h2>Journal Entry</h2>
  <!-- Introduction -->
  <p>
    Welcome to your personal journal entry. Here we encourage you to reflect on
    your day, jot down your thoughts, and rate your mood. This is a space for
    your personal growth and reflection. Feel free to come by anytime! You
    matter!
  </p>

  <!-- Journal Entry Form -->
  <form id="myForm" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <!-- Mood Rating -->
      <label for="journalDescription" class="form-label"
        >Current Mood Level (Bad(1) - Good(5)):
      </label>
      <!-- Radio Button Area -->
      <fieldset>
        <div class="some-class">
          <input type="radio" id="mood_one" name="mood_level" value="1" />
          <label for="mood_one">1</label>
          <input type="radio" id="mood_two" name="mood_level" value="2" />
          <label for="mood_two">2</label>
          <input type="radio" id="mood_three" name="mood_level" value="3" />
          <label for="mood_three">3</label>
          <input type="radio" id="mood_four" name="mood_level" value="4" />
          <label for="mood_four">4</label>
          <input type="radio" id="mood_five" name="mood_level" value="5" />
          <label for="mood_five">5</label>
        </div>
      </fieldset>
      <!-- Sleep Rating -->
      <label for="journalDescription" class="form-label"
        >Rate Your Sleep Last Night (No Energy(1) - Fully Energized(5)):
      </label>
      <!-- Radio Button Area -->
      <fieldset>
        <div class="some-class">
          <input type="radio" id="sleep_one" name="sleep_quality" value="1" />
          <label for="sleep_one">1</label>
          <input type="radio" id="sleep_two" name="sleep_quality" value="2" />
          <label for="sleep_two">2</label>
          <input type="radio" id="sleep_three" name="sleep_quality" value="3" />
          <label for="sleep_three">3</label>
          <input type="radio" id="sleep_four" name="sleep_quality" value="4" />
          <label for="sleep_four">4</label>
          <input type="radio" id="sleep_five" name="sleep_quality" value="5" />
          <label for="sleep_five">5</label>
        </div>
      </fieldset>
      <!-- Exercise Rating -->
      <label for="journalDescription" class="form-label"
        >Exercise Time (in minutes):
      </label>
      <!-- Radio Button Area -->
      <fieldset>
        <div class="some-class">
          <input
            type="radio"
            id="exercise_15"
            name="exercise_time"
            value="15"
          />
          <label for="exercise_15">15</label>
          <input
            type="radio"
            id="exercise_30"
            name="exercise_time"
            value="30"
          />
          <label for="exercise_30">30</label>
          <input
            type="radio"
            id="exercise_45"
            name="exercise_time"
            value="45"
          />
          <label for="exercise_45">45</label>
          <input
            type="radio"
            id="exercise_60"
            name="exercise_time"
            value="60"
          />
          <label for="exercise_60">60</label>
        </div>
      </fieldset>
      <!-- Diet Rating -->
      <label for="journalDescription" class="form-label"
        >How Healthy Was Your Diet (Over Processed(1) - Very Healthy(5)):
      </label>
      <!-- Radio Button Area -->
      <fieldset>
        <div class="some-class">
          <input type="radio" id="diet_one" name="diet_quality" value="1" />
          <label for="diet_one">1</label>
          <input type="radio" id="diet_two" name="diet_quality" value="2" />
          <label for="diet_two">2</label>
          <input type="radio" id="diet_three" name="diet_quality" value="3" />
          <label for="diet_three">3</label>
          <input type="radio" id="diet_four" name="diet_quality" value="4" />
          <label for="diet_four">4</label>
          <input type="radio" id="diet_five" name="diet_quality" value="5" />
          <label for="diet_five">5</label>
        </div>
      </fieldset>
      <!-- Water Rating -->
      <label for="journalDescription" class="form-label"
        >Water Intake (Under 8oz(1) - About 32oz(3) - 64oz(5)):
      </label>
      <!-- Radio Button Area -->
      <fieldset>
        <div class="some-class">
          <input type="radio" id="water_one" name="water_intake" value="1" />
          <label for="water_one">1</label>
          <input type="radio" id="water_two" name="water_intake" value="2" />
          <label for="water_two">2</label>
          <input type="radio" id="water_three" name="water_intake" value="3" />
          <label for="water_three">3</label>
          <input type="radio" id="water_four" name="water_intake" value="4" />
          <label for="water_four">4</label>
          <input type="radio" id="water_five" name="water_intake" value="5" />
          <label for="water_five">5</label>
        </div>
      </fieldset>
      <!-- Journal -->
      <label for="journalDescription" class="form-label"
        >Reflect on your day and take notes of how you felt:
      </label>
      <!-- Text Area -->
      <textarea
        class="form-control"
        id="journal_text"
        name="journal_text"
        rows="3"
      ></textarea>
    </div>
    <!-- Submit button -->
    <!-- onclick="Entries()" -->
    <button
      type="submit"
      id="submitButton"
      class="btn btn-primary"
      onclick="Entries()"
      href="{% url 'journal_entry' %}"
      disabled
    >
      Submit
    </button>
  </form>
</div>

<script type="text/javascript">
  const form = document.getElementById("myForm");
  const submitButton = document.getElementById("submitButton");

  if (submitButton == null) {
    console.log("Submit button not found");
  } else {
    console.log("Submit button found");
  }

  form.addEventListener("change", function () {
    const radioGroups = form.querySelectorAll('input[type="radio"]');
    let allSelected = true;

    // Check each group
    radioGroups.forEach((group) => {
      const groupName = group.getAttribute("name");
      const groupRadios = form.querySelectorAll(`input[name="${groupName}"]`);
      let selected = false;

      // Check if any radio in the group is selected
      groupRadios.forEach((radio) => {
        if (radio.checked) {
          selected = true;
        }
      });

      if (!selected) {
        allSelected = false;
      }
    });

    // Enable/disable submit button based on allSelected
    if (allSelected) {
      submitButton.removeAttribute("disabled");
    } else {
      submitButton.setAttribute("disabled", "disabled");
    }
  });

  /*function Entries() {
    mood_level = document.querySelector("input[name=mood_level]:checked").value;
    sleep_quality = document.querySelector(
      "input[name=sleep_quality]:checked",
    ).value;
    exercise_time = document.querySelector(
      "input[name=exercise_time]:checked",
    ).value;
    diet_quality = document.querySelector(
      "input[name=diet_quality]:checked",
    ).value;
    water_intake = document.querySelector(
      "input[name=water_intake]:checked",
    ).value;
    journal_text = document.getElementByID("journal_text").value;
  }*/
</script>

{% endblock %}
