{% extends "mh_tracker/base_template.html" %} {% block content %}

<style>
  body {
    justify-content: center;
    align-items: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  li {
    display: inline-block;
    vertical-align: middle;
  }

  .container-wrapper {
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    display: flex;
  }

  .container {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 -20px;
  }

  .container-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #card_bg {
    background-color: indigo;
    opacity: 0.5;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: flex;
    width: 400px !important;
    margin: 10px;
  }

  .card-text {
    margin-left: 10px;
  }
</style>

<div class="container-wrapper">
  <div class="container">
    <h2>Monthly Report</h2>
    <div class="container-cards">
      <div class="card" style="width: 18rem">
        <div id="card_bg" class="card-body">
          <h5 class="card-title text-warning">Mood</h5>
          <p id="mood" class="card-text text-warning">
            You had a positive mood for {{ mood_positive }} days.<br />
            You had a normal mood for {{ mood_neutral }} days.<br />
            You had anegative mood for {{ mood_negative }} days.
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div id="card_bg" class="card-body">
          <h5 class="card-title text-warning">Sleep</h5>
          <p id="sleep" class="card-text text-warning">
            You had {{ sleep_negative }} days with low energy.<br />
            You had {{ sleep_neutral }} days with medium energy.<br />
            You had {{ sleep_positive }} days with high energy.
          </p>
        </div>
      </div>
    </div>
    <div class="container-cards">
      <div class="card" style="width: 18rem">
        <div id="card_bg" class="card-body">
          <h5 class="card-title text-warning">Exercise</h5>
          <p id="exercise" class="card-text text-warning">
            You had {{ exercise_negative }} days with minimal exercise.<br />
            You had {{ exercise_neutral }} days with medium exercise.<br />
            You had {{ exercise_positive }} days with a lot of exercise.
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div id="card_bg" class="card-body">
          <h5 class="card-title text-warning">Diet</h5>
          <p id="diet" class="card-text text-warning">
            You had an unhealthy diet for {{ diet_negative }} days.<br />
            You had a neutral diet for {{ diet_neutral }} days.<br />
            You had a healthy diet for {{ diet_positive }} days.
          </p>
        </div>
      </div>
    </div>
    <div class="container-cards">
      <div class="card" style="width: 18rem">
        <div id="card_bg" class="card-body">
          <h5 class="card-title text-warning">Water Intake</h5>
          <p id="water" class="card-text text-warning">
            You had a low amount of water on {{ water_negative }} days.<br />
            You had a medium amount of water on {{ water_neutral }} days.<br />
            You had a large amount of water on {{ water_positive }} days.
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div id="card_bg" class="card-body">
          <h5 class="card-title text-warning">Journal Entries</h5>
          <p id="water" class="card-text text-warning">
            You entered a journal for {{ journal_entries_positive }} days.<br />
            You did not enter a journal for {{ journal_entries_negative }}
            days.<br />
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Positive and Negative Days</h2>
    <div class="container-cards">
      <div class="card" style="width: 18rem">
        <div id="card_bg" class="card-body">
          <h5 class="card-title text-warning">Positive Days</h5>
          <div id="stats" class="card-text text-warning">
            On Positive Days you usually had:<br />
            <ul class="list-group text-warning">
              <li>Energy from Sleep: {{ sleepAvg_positive }}</li>
              <li>Minutes of Exercise: {{ exerciseAvg_positive }}</li>
              <li>Quality of Diet: {{ dietAvg_positive }}</li>
              <li>Water Intake: {{ waterAvg_positive }}</li>
              <li>{{ journalAvg_positive }} fill out a Journal Entry</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div id="card_bg" class="card-body">
          <h5 class="card-title text-warning">Negative Days</h5>
          <div id="stats" class="card-text text-warning">
            On Negative Days you usually had:<br />
            <ul class="list-group text-warning">
              <li>Energy from Sleep: {{ sleepAvg_negative }}</li>
              <li>Minutes of Exercise: {{ exerciseAvg_negative }}</li>
              <li>Quality of Diet: {{ dietAvg_negative }}</li>
              <li>Water Intake: {{ waterAvg_negative }}</li>
              <li>{{ journalAvg_negative }} fill out a Journal Entry</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
